.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #ecf0f5;
}

.banner-text {
  text-align: center;
  color: #190961;
  font-size: 28px;
  margin: 0px 0px 10px 0px;
}
#multiplotbox {
  background-color: #DABFFF;
}
#barplotbox {
  background-color: #3C6997;
}
#boxplotbox {
  background-color: #F57200;
}
#violinplotbox {
  background-color: #9FD356;
}
/*.plotbox {
  background-color: #DAE6E7;
}*/
.box-title {
  font-weight: bold;
}
.box-header {
  background-color: #C5D6E8;
}
.options {
  background-color: #C5D6E8;
  padding: 10px;
  margin-top: 20px;
}
#plot_choice {
  font-size: 30px;
  margin-left:30px;
}
#dataset_choice {
  font-size: 20px
}

