.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
/*    background-color: #da88e0; */
}

.banner-text {
  text-align: center;
  color: #190961;
  font-size: 24px;
  margin: 0px 0px 10px 0px;
}
#densityplotbox {
  background-color: #DABFFF;
}
#barplotbox {
  background-color: #3C6997;
}
#boxplotbox {
  background-color: #F57200;
}
#violinplotbox {
  background-color: #9FD356;
}
.plotbox {
  background-color: #60909c;
}
.box-title {
  font-weight: bold;
/*  color: white;*/
}
.box-header {
  background-color: #C5D6E8;
}
.options {
  background-color: #C5D6E8;
  padding: 10px;
  margin-top: 20px;
}
#plot_choice {
  font-size: 30px;
  margin-left:30px;
}
input[type="radio"] {
/*  margin-top:20px;
  -ms-transform: scale(2); /* IE 9 */
/*  -webkit-transform: scale(2); /* Chrome, Safari, Opera */
/*  transform: scale(2);
/*  margin-left: -20px;*/
}
